body {
    background: url('../images/brick-wall.jpg');
    background-size: 1440px 780px;
}

h1 h2 {
    font-family: 'Monoton', cursive;
    text-align: center;
    color: #2280e7;
    padding-top: 20px;
}

.timer {
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
    color: #e8b10e;
    font-size: 26px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row div {
    background: #2280e7;
    border: 2px solid #e8b10e;
    margin-bottom: 20px;
    border-radius: 10px;
}

.row div,
img {
    /* width: 123px;
    height: 100px; */
    width: 125px;
    height: 118px;
    border-radius: 10px;
    cursor: pointer;
}

.footer {
    text-align: center;
    color: #2280e7;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px;
}


/* New added */

.hide {
    display: none;
}

.noClickAllowed {
    pointer-events: none;
}

form {
    text-align: center;
}